{#
/**
 * @file
 * Custom HelloWorld template.
 */
#}

<div class="hello-world">
  <p>HelloWorld - {{ site_name }}</p>
</div>

{# Renders site name, current date and time #}
<div>{{ get_site_info() }}</div>

{# Renders the number of published articles using EntityQuery #}
<div>Published articles (EntityQuery): {{ count_published_articles_entity_query() }}</div>

{# Renders the number of published articles using direct database query #}
<div>Published articles (Database): {{ count_published_articles_database() }}</div>
